# Use this file as a template for your .env file. Make sure to replace the placeholder values with your actual configuration.
DATABASE_URL=postgres://arthasync_user:StrongPassword@localhost:5432/arthasync
GOOGLE_SERVICE_ACCOUNT_KEYFILE=./service-account.json
SPREADSHEET_LINK=your_sheet_link_here
BCRYPT_SALT_ROUNDS=12
PORT=3000